* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background-image 1s ease-in-out;
    overflow:hidden;
}

#main {
    height: 100vh;
    width: 100%;
    position: relative;
}

#preview{
    z-index: -1;
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit:contain;
    position: absolute;
    top:0;
    left: 0;
}

#controls{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position:relative;
}

button {
    height: 100vh;
    font-size: 3rem;
    font-weight: bold;
    color: #7FCD91;
    background: transparent;
    border: none;
}